section {
    background:#fafafa
    }
    
    .section_inner>h1 {
    padding-top:84px
    }
    
    .tabcontent {
    display:none
    }
    
    #classes_tree_select_wrap {
    border-top:2px solid #f1f1f1;
    padding-top:6px;
    border-bottom:2px solid #f1f1f1;
    padding-bottom:6px;
    margin-bottom:20px;
    margin-top:37px
    }
    
    #classes_tree_select {
    display:inline-block;
    width:100%;
    }
    
    #classes_tree_select .tablinks {
    cursor:pointer
    }
    
    #classes_tree_select li {
    position:relative;
    text-align:center;
    /* padding:20px 60px */
    width:20%;
    }
    #classes_tree_select li.tabactive img{opacity:1}
    #classes_tree_select li img{
        width:100%;
        opacity:0.5
    }
    
    #classes_tree_select li:hover .classes_tree_icon,.tabactive .classes_tree_icon {
    background-position:0 -118px
    }
    
    #classes_tree_select li:hover span,.tabactive span {
    color:#006bbe!important
    }
    
    #classes_tree_select li:after {
    content:"";
    position:absolute;
    top:50%;
    right:0;
    margin-top:-8px;
    border:1px solid #c7c6c6;
    width:0;
    height:32px
    }
    
    #classes_tree_select li:last-child:after {
    display:none
    }
    
    .classes_tree_icon {
    display:inline-block;
    width:111px;
    height:118px;
    background-size:cover
    }
    
    #classes_tree_select li:first-child .classes_tree_icon {
    background-image:url(https://treeofsavior.com/img/game/icon_select_swordsman.png)
    }
    
    #classes_tree_select li:nth-child(2) .classes_tree_icon {
    background-image:url(https://treeofsavior.com/img/game/icon_select_wizard.png)
    }
    
    #classes_tree_select li:nth-child(3) .classes_tree_icon {
    background-image:url(https://treeofsavior.com/img/game/icon_select_archer.png)
    }
    
    #classes_tree_select li:nth-child(4) .classes_tree_icon {
    background-image:url(https://treeofsavior.com/img/game/icon_select_cleric.png)
    }
    
    #classes_tree_select li:nth-child(5) .classes_tree_icon {
    background-image:url(https://treeofsavior.com/img/game/icon_select_scout.png)
    }
    

    #classes_box_wrap  dl {
    width:100%;
    height:30px;
    text-align:center;
    margin-top:0;
    }
    
    #classes_box_wrap  dl dt {
    display:block
    }
    
    #classes_box_wrap dl dt img {
    height:25px;
    width: auto;
    }
    
    #classes_box_wrap  dl dd {
    display:block;
    color:#b4b4b4;
    margin-left: 0px;
    }
    
    #classes_box_wrap dl dd p {
    font-size:16px;
    color:#7a7a7a
    }


    #classes_tree_select li span {
    display:inherit;
    font-family:Quattrocento,sans-serif;
    color:#999;
    font-weight:700
    }
    
    #classes_box_wrap {
    display:flex;
    width:100%;
    margin-top:10px;
    margin-bottom:50px
    }
    
    .classes_inbox>div a:hover {
    box-shadow:5px 5px 16px 0 hsla(0,0%,59%,.4);
    color:#006bbe
    }
    
    .classes_inbox {
    flex:1;
    margin-right:6px;
    font-family:'roboto';
    font-weight:500;
    text-align:center
    }
    
    .classes_inbox>div a {
    width:100%;
    height:274px;
    font-size:16px;
    background-position:50%;
    background-repeat:no-repeat;
    background-color:#fff;
    box-shadow:2px 2px 2px 0 rgba(99,99,99,.2);
    color:#bbb;
    transition:all .4s ease
    }
    
    .classes_inbox>div {
    width:100%;
    margin-bottom:8px
    }
    
    .Swordsman a {
    background-image:url(/img/game/class_back_icon_s.png)
    }
    
    .Wizard a {
    background-image:url(/img/game/class_back_icon_w.png)
    }
    
    .Archer a {
    background-image:url(/img/game/class_back_icon_a.png)
    }
    
    .Scout a {
    background-image:url(/img/game/class_back_icon_scout.png)
    }
    
    .Cleric a {
    background-image:url(/img/game/class_back_icon_c.png)
    }
    
    .classes_inbox li:nth-child(6n) {
    margin-right:0
    }
    
    .classes_inbox li a {
    width:100%;
    font-size:16px;
    margin-bottom:6px;
    padding:14px 10px;
    height:211px;
    background-color:#fff;
    border-radius:2px;
    box-shadow:2px 2px 2px 0 rgba(99,99,99,.2);
    color:#bbb;
    transition:all .4s ease
    }
    
    .classes_inbox li a:hover {
    box-shadow:5px 5px 16px 0 hsla(0,0%,59%,.4);
    color:#006bbe
    }
    
    .classes_inbox li {
    width:16.3%;
    margin-right:.44%
    }
    
    .classes_inbox li > a >  img {
    width:160px;
    /* padding-top:39px;
    padding-bottom:20px */
    }
    
    @media screen and (max-width:1200px) {
    .news_box {
    width:32.1%
    }
    
    .classes_inbox li a p {
    overflow:hidden
    }
    
    .classes_inbox li img {
    width:60px
    }
    
    .classes_tree_icon {
    width:85px;
    height:90px
    }
    
    #classes_tree_select li {
    padding:20px 5.1724137931%
    }
    
    #classes_tree_select li:hover .classes_tree_icon,.tabactive .classes_tree_icon {
    background-position:0 -90px
    }
    }
    
    @media screen and (max-width:910px) {
    .classes_inbox li {
    width:32.8%
    }
    
    .classes_inbox li:nth-child(6n) {
    margin-right:.44%
    }
    
    .classes_inbox li a {
    padding-top:30px
    }
    
    .classes_inbox {
    margin-bottom:40px
    }
    
    #classes_tree_select li {
    padding:20px 4%
    }
    }
    
    @media screen and (max-width:540px) {
    .classes_inbox li {
    width:32.8%
    }
    
    #classes_tree_select li {
    padding:20px 12px
    }
    
    .classes_tree_icon {
    width:60px;
    height:64px
    }
    
    #classes_tree_select li:hover .classes_tree_icon,.tabactive .classes_tree_icon {
    background-position:0 -64px
    }
    
    #classes_tree_select li span {
    font-size:12px
    }
    }