





<!DOCTYPE html>
<html class="no-js">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Uncharted Waters online</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="robots" content="index,follow" />
<meta name="description" content="Event Site - The Lucky Wheel">
<meta name="keywords" content="UWO, Uncharted Waters online">

<meta property="fb:app_id" content="601567683367843">
<!-- <meta property="og:image" content="https://static.papayaplay.com/static/assets/images/warrock/portal/wr-seo-banner.jpg"> -->
<!-- facebook-domain-verification  -->
<meta name="facebook-domain-verification" content="nt05bmyn0mj0mlheahv7j69l118def" />
<link rel="shortcut icon" href="https://d1ebd7lpcz1ubh.cloudfront.net/static/assets/images/portal/common/favicon.png">

<!-- link css -->
<link rel="stylesheet" href="https://static.papayaplay.com/static/assets/libs/jquery-ui/1.10.4/jquery-ui.css">
<link rel="stylesheet" href="https://static.papayaplay.com/static/assets/libs/bootstrap/3.3.7/bootstrap.min.css">
<link rel="stylesheet" href="https://static.papayaplay.com/static/assets/libs/bootstrap/3.3.7/bootstrap-theme.min.css">
<link rel="stylesheet" href="https://static.papayaplay.com/static/assets/libs/font-awesome/4.7.0/font-awesome.min.css">
<link rel="stylesheet" href="https://static.papayaplay.com/static/assets/libs/fancybox/2.1.7/jquery.fancybox.min.css">
<!-- <link rel="stylesheet" href="https://static.papayaplay.com/static/assets/libs/owl-carousel/1.3.3/owl.carousel.css"> -->
<!-- <link rel="stylesheet" href="https://static.papayaplay.com/static/assets/libs/owl-carousel/1.3.3/owl.theme.css"> -->
<link rel="stylesheet" href="https://static.papayaplay.com/static/assets/libs/slick/1.8.1/slick.min.css" />
<link rel="stylesheet" href="https://static.papayaplay.com/static/assets/libs/animate-css/3.5.2/animate.min.css">
<link rel="stylesheet" href="https://static.papayaplay.com/static/assets/styles/chartist.css">
<link rel="stylesheet" href="https://static.papayaplay.com/static/assets/libs/toastr/toastr.css">
<link rel="stylesheet" href="https://static.papayaplay.com/static/assets/styles/common.css">
<link rel="stylesheet" href="https://static.papayaplay.com/static/assets/styles/portal.css">
<link rel="stylesheet" href="https://static.papayaplay.com/static/assets/styles/latale/portal/latale-css-container.css?1">

<!-- link scripts -->
<script src="https://static.papayaplay.com/static/assets/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://static.papayaplay.com/static/assets/libs/jquery-ui/1.10.4/jquery-ui.js"></script>
<script src="https://static.papayaplay.com/static/assets/libs/jquery-cookie/1.4.1/jquery-cookie.min.js"></script>
<script src="https://static.papayaplay.com/static/assets/libs/fancybox/2.1.7/jquery.fancybox.min.js"></script>
<script src="https://static.papayaplay.com/static/assets/libs/bootstrap/3.3.7/bootstrap.min.js"></script>
<!-- <script src="https://static.papayaplay.com/static/assets/libs/owl-carousel/1.3.3/owl.carousel.js"></script> -->
<script src="https://static.papayaplay.com/static/assets/libs/slick/1.8.1/slick.min.js"></script>
<script src="https://static.papayaplay.com/static/assets/libs/toastr/toastr.min.js"></script>
<script src="https://static.papayaplay.com/static/assets/libs/moment/2.10.6/moment.js"></script>
<script src="https://static.papayaplay.com/static/assets/libs/countdown/2.6.0/countdown.min.js"></script>
<!-- <script src="https://static.papayaplay.com/static/assets/libs/chunk/0.0.2/chunk.min.js"></script> -->
<script src="https://static.papayaplay.com/static/assets/libs/modernizr.js"></script>
<script src="https://static.papayaplay.com/static/assets/scripts/main.js"></script>
<script src="https://static.papayaplay.com/static/assets/scripts/latale.js"></script>
<!--<script src="https://unpkg.com/vue"></script>-->
<!-- Vuejs production -->
<script src="https://static.papayaplay.com/static/assets/libs/vue/2.6.12/vue.min.js"></script>
<script src="https://static.papayaplay.com/static/assets/libs/vue-resource/1.3.5/vue-resource.js"></script>
<!-- <script src="https://static.papayaplay.com/static/assets/libs/cloud9carousel/2.0/cloud9carousel.min.js"></script> -->
<script src="https://static.papayaplay.com/static/assets/libs/carousel.js"></script>
<!-- Vue carousel 3D -->
<script src="https://static.papayaplay.com/static/assets/libs/vue-carousel-3d.min.js"></script>
<!-- TweenMax -->
<script src="https://static.papayaplay.com/static/assets/libs/gsap/tweenmax/2.0.2/TweenMax.min.js"></script>
<!-- scroll magic -->
<script src="https://static.papayaplay.com/static/assets/libs/scrollMagic/2.0.7/ScrollMagic.min.js"></script>
<script src="https://static.papayaplay.com/static/assets/libs/scrollMagic/2.0.7/plugins/animation.gsap.js"></script>
<script src="https://static.papayaplay.com/static/assets/libs/scrollMagic/2.0.6/debug.addIndicators.min.js"></script>

<script type="text/javascript">
  var unid = "5037051";
  var userid = "woonggu";
  var email = "teddy@vertigogames.com";
  var userIP = "209.52.88.120";
  var isLogin = "0";
  var hasProfilePhoto = "N";

  var bsRootPath = "https://latale.papayaplay.com";
  var ioRootPath = "https://io.papayaplay.com";
  var s3RootPath = "https://cdn.papayaplay.com";
  var staticRootPath = "https://static.papayaplay.com/static/assets";
  var lang = $.cookie("vga_language") || "en";

  var url = window.location.href;
</script>

<!-- Google tag (gtag.js) 파파야 전체 사이트 공통 태그 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-F7RRMGCSB1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-F7RRMGCSB1');
</script>

<!-- Google Tag Manager – 개별 태그 UWO-->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-555KS6N');</script>
<!-- End Google Tag Manager -->
</head>

<body id="uwo">

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-555KS6N"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <!--[if lte IE 8]> 
		    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		    <div class="chromeframe_ori">For a better experience on Papayaplay, <a href=https://www.papayaplay.com/portal.do?tp=unsupportedBrowser target="_blank">update your browser.</a></div>
		<![endif]-->
  <div class="chromeframe">
    For a better experience on Papayaplay,
    <a href="https://www.papayaplay.com/portal.do?tp=unsupportedBrowser" target="_blank">update your browser.</a>
  </div>

<!--  LaTale Content: Start -->
<link rel="stylesheet" href="https://static.papayaplay.com/static/assets/styles/uwo/event/luckywheel2209.css">

<!-- Wheel of Fortune 2022 Start -->
  <div id="uwo-event2209">
    <div class="vt_section-header" style="z-index: 10;">
      <div v-if="isLogin === '1' || isLogin === 1" class="header-left-wrapper">
        <div class="header-userid">{{ userID }}</div>
        <div class="header-balance-wrapper">
          <img class="balance-icon" src="https://static.papayaplay.com/static/assets/images/portal/shop/uwc.svg"/>
          <div class="balance-num">{{ userBalance }}</div>
        </div>
      </div>
      <div v-else class="header-left-wrapper">
        <a class="header-papaya-logo" href="https://www.papayaplay.com">
          <img class="header-papaya-logo-image" src="https://static.papayaplay.com/static/assets/images/portal/common/papaya-logo.svg" />
        </a>
      </div>
      
      <a class="header-game-logo" href="https://uwo.papayaplay.com/uwo.do">
        <img src="https://static.papayaplay.com/static/assets/images/uwo/official/uwo-snb-logo.png"/>
      </a>
      
      <a v-if="isLogin === '1' || isLogin === 1" class="header-right-wrapper" href="https://www.papayaplay.com/account/signout.do">
      <!-- <a v-if="isLogin" class="header-right-wrapper" href="https://www.papayaplay.com/account/signout.do"> -->
        <img class="sign-out-icon" :src="imgUrl + '/ico_signout.png'"/>
        <div class="header-signout">SIGN OUT</div>
      </a>

      <a v-else class="header-right-wrapper" :href="loginUrl">
        <!-- <img class="sign-out-icon" :src="imgUrl + '/ico_signout.png'"/> -->
        <div class="header-signout">SIGN IN</div>
      </a>
    </div>
    <section class="vt_section-1" id="section1" :style="{ 'background-image' : 'url('+ imgUrl +'/bg.jpg)'}">
      <img class="left-character-image" :src="imgUrl + '/left_chr.png'" />
      <img class="right-character-image" :src="imgUrl + '/right_chr.png'" />
      <div class="title-wrapper">
        <img :src="imgUrl + '/title.png'" alt="title Wheel of Fortune" />
      </div>
      <div class="message-wrapper" :style="{'background-image' : 'url(' + imgUrl + '/bar.png)'}">
        <div :class="textClass" v-html="textSign"></div>
      </div>
      <div class="wheel-container">
        <img class="shine-bg" :src="imgUrl + '/light.png'"/>
        <!-- <img class="effect-bg" :class="effectBgClass" :src="imgUrl + '/effect.png'"/> -->
        <img class="wheel-board" :src="imgUrl + '/wheel.png'"/>
        <!-- <img class="wheel-marker" :src="imgUrl + '/wheel_arrow.png'"/> -->
        <div class="wheel-button-wrapper" @click="clickWheelButton">
          <img class="wheel-button" :src="btnSpin"/>
          <!-- <div v-if="cntSpinDisplay" class="button-text">{{ cntSpinCurr }}/{{ cntSpinLimit }}</div> -->
        </div>
      </div>
      <!-- <div class="result-temp" style="font-size: 28px; color: #FFF;">Result : {{ resultMsg }}</div> -->
      <div class="event-info-container">
        <!-- <div class="event-info-text">
          Spin the wheel to claim prizes.<br/>
          One Free Spin everyday and additional spin will cost <span class="style-yb">45UWC</span> per spin.<br/><br/>
        </div> -->
        <!-- <div class="event-info-duration">
          <b>Event Duration :</b> May 19th, 2022 ~ June 16th, 2022
        </div> -->
        <div class="event-info-box">
          <div class="event-info-title">The First Wheel</div>
          <div class="event-info-period">Period: 10/05/2022 - ????</div>
          <div class="event-info-text-wrapper">
            · Spin the Wheel to win prizes for 45 UWC a spin!<br />
            · Items will be sent directly to the ‘Received Item’ area of your in-game Bank.<br />
            · Only characters created with the Papaya ID you have logged in with can receive the items.<br />
            · It may take up to 5 minutes to deliver the item(s) to your in-game Bank.<br />
          </div>
          <div class="event-info-btn-wrapper" @click="gotoEventDetail">
            <img class="btn-img" :src="imgUrl + '/btn_detail.png'" />
          </div>
        </div>
      </div>
    </section>

    <div v-show="isInfoPopup" class="popup-container">
      <div class="popup-box">
        <div v-if="beforeSpinPopup === 0" class="popup-message">
          Would you like to spin the Wheel to test your luck?<br />
          <span class="style-yb">45 UWC</span> will be deducted.<br/>
        </div>
        <div v-if="beforeSpinPopup === 1" class="popup-message">
          You do not have enough UWC to continue.<br />
          Proceed to purchase more UWC?<br />
        </div>
        <div class="button-wrapper">
          <div class="button-cancel" @click="isInfoPopup = false">CANCEL</div>
          <div class="button-ok" @click="acceptInfoPopup">CONFIRM</div>
        </div>
        <div class="popup-check-wrapper"></div>
      </div>
    </div>

    <div v-show="isResultPopup" class="popup-container">
      <div class="popup-box">
        <div class="popup-message">
          Congratulations!<br />
          You’ve found <b><span style="color:#FFF176;">{{resultMsg}}</span></b>&nbsp;!<br />
          To receive your item(s),<br />
          go to the in-game bank and click “Receive Item”.<br />
          It may take up to 5 minutes to deliver the item(s) to your in-game bank.
        </div>
        <div class="button-wrapper margin-add">
          <div class="button-ok" @click="acceptResultPopup">CONFIRM</div>
        </div>
        <div class="popup-check-wrapper"></div>
      </div>
    </div>

    <div v-show="isShowSysErrPopup" class="popup-window">
      <div class="popup-container">
        <div class="popup-close" @click="closeSysErrPopup"></div>
        <img :src="imgUrl + '/ico_warning_gray.svg'">
        <div class="popup-desc">{{sysErrMessage}}</div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    new Vue({
      el: '#uwo-event2209',
      data: {
        // imgUrl: './assets',
        imgUrl: "https://static.papayaplay.com/static/assets/images/uwo/event/luckywheel2209",
        loginUrl: "https://www.papayaplay.com/account/signin.do?redirect_url=https://uwo.papayaplay.com/uwoevent/luckywheel.do",
        shopUrl: "https://www.papayaplay.com/shop/main.do?sid=5",
        userID: userid,
        userBalance: '',
        userBalanceNum: 0,
        isInfoPopup: false,
        isResultPopup: false,
        beforeSpinPopup: 1,
        beforeSpinPopupCancel: false,
        isShowSysErrPopup: false,
        sysErrMessage: '',
        resultMsg: '',
        effectBgClass: '',
        isSpinning: false,
        textSign: 'Where will the Wheel take you?',
        textClass: '',
        textSignList: {
          signTry: {
            text: 'Where will the Wheel take you?',
            class: 'sign-style-try',
          },
          signLogin: {
            text: 'SIGN IN NOW <span style="color:#FFFFFF;">TO SPIN</span>',
            class: 'sign-style-login',
          },
          signSpinngin: {
            text: 'LOOKING FOR TREASURE!',
            class: 'sign-style-spinning',
          },
          signItem: {
            text: '<span style="color:#FFFFFF;">You&rsquo;ve found </span>',
            class: 'sign-style-item',
          },
          signLimit: {
            text: "Please come back tomorrow again.",
            class: 'sign-style-limit',
          },
          signLoading: {
            text: '-----LOADING-----',
            class: 'sign-style-loading',
          }
        },
        wheelDeg: 0,
        actualDeg: 0,
        itemZones: [
          {id:1, degVal: 22, code: "2110037", count: 1, name:"Armouringsmith's Forging Ticket"},
          {id:2, degVal: 67, code: "1510016", count: 10, name:"Special Shipbuilding Improvement Permit x10"},
          {id:3, degVal: 112, code: "1510013", count: 5, name:"Captain's Ticket x5"},
          {id:4, degVal: 157, code: "1500753", count: 1, name:"Inventory Expansion Bag"},
          {id:5, degVal: 202, code: "1510013", count: 1, name:"Captain's Ticket x1"},
          {id:6, degVal: 247, code: "1510821", count: 1, name:"Emergency Appraisal Request"},
          {id:7, degVal: 292, code: "2110036", count: 1, name:"Cannonsmith's Forging Ticket"},
          {id:8, degVal: 337, code: "1510013", count: 10, name:"Captain's Ticket x10"},
          // {id:9, degVal: 288, code: "22092003", name:"Gold Splurge 1 Emoticon Guidebook"},
          // {id:10, degVal: 324, code: "22092001", name:"Pet Page Extension Coupon Box"},
        ],
        cntSpinLimit: 0,
        cntSpinCurr: 0,
        freeSpin: false,
        cntSpinDisplay: false,
        btnSpin: "https://static.papayaplay.com/static/assets/images/uwo/event/luckywheel2209/wheel_btn2.png",
        btnSpinList: {
          btnLogin: "https://static.papayaplay.com/static/assets/images/uwo/event/luckywheel2209/wheel_btn2.png",
          // btnFree: "https://static.papayaplay.com/static/assets/images/uwo/event/luckywheel2209/wheel_btn1.png",
          btnSpinning: "https://static.papayaplay.com/static/assets/images/uwo/event/luckywheel2209/wheel_btn3.png",
          btnCash: "https://static.papayaplay.com/static/assets/images/uwo/event/luckywheel2209/wheel_btn4.png",
          // btnEnd: "https://static.papayaplay.com/static/assets/images/uwo/event/luckywheel2209/wheel_btn5.png",
        },
        intvWhellBoard: '',
        domWheelBoard: null,
        domTextSign: null,
        getAttendance: {
          Balance: 0,
          FreeParticipation: 1,
          ParticipationCount: 0,
        },
        getSpinInfo: {
          Balance: 0,
          ItemCode: "",
          ItemDuration: 0,
          ParticipationCount: 0,
          Rate: 50,
          RegDate: "",
          UNID: 0,
          UserID: "",
        },        
        activeDay: '',
        addFromServerTime: 0,
        userjoinedEvent: false,
        locale: '',
        linkItemDetail: "https://uwo.papayaplay.com/uwo.do?tp=news.view&postid=4145",
      },
      methods: {
        fetchJson: function (lang) {
          var vm=this;
          return;
        },
        initFuntion: function() {
          var vm=this;

          if(isLogin === 1 || isLogin === '1') {
            vm.getServerInfo();
          } else {
            vm.btnSpin = vm.btnSpinList.btnLogin;
            vm.textSign = vm.textSignList.signLogin.text;
            vm.textClass = vm.textSignList.signLogin.class;
          }
          console.log("sign in check", isLogin);
        },
        getServerInfo: function() {
          var vm = this;
          $.ajax({
            url: ioRootPath + "/secured/json.do?callback=?",
            // url: "https://io.papayaplay.net" + "/json.do?callback=?",
            type: 'POST',
            crossDomain: true,
            data: { cm: "Service.Event.ext_GetRandomEventResult", eventid: 3 },  //, unid: unid, UserID: userid, eventid: 3(UWO)
            dataType: 'jsonp'
          })
          .done(function(data) {
            var code = data.ResultCode[0].Code;
            
            console.log("check items : ", vm.itemZones);
            console.log("get server information : ", code, data);
            if(code == "10000") {
              // copy attendance
              vm.getAttendance = data.Attendance[0];

              // change balance format
              vm.userBalanceNum = vm.getAttendance.Balance;
              // vm.userBalance = vm.getAttendance.Balance.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
              vm.userBalance = vm.insertCommas(vm.getAttendance.Balance);

              // ===== ===== ===== ===== ===== ===== ===== ===== 
              //      UWO has no Free-Spin
              // ===== ===== ===== ===== ===== ===== ===== ===== 
              // if(vm.getAttendance.FreeParticipation === 0) {
              //   vm.btnSpin = vm.btnSpinList.btnFree;
              //   vm.textSign = vm.textSignList.signTry.text;
              //   vm.textClass = vm.textSignList.signTry.class;
              //   vm.freeSpin = true;
              //   vm.cntSpinDisplay = false;
              // } else {
                vm.cntSpinCurr = vm.getAttendance.ParticipationCount;
                vm.freeSpin = false;
                vm.cntSpinDisplay = true;
                vm.btnSpin = vm.btnSpinList.btnCash;
              //}

            } else {
              console.log("Error", code, data.ResultCode[0].Description);
              // alert(data.ResultCode[0].Description);
              vm.sysErrMessage = code + ' : ' + data.ResultCode[0].Description;
              if(code === "30010") {
                vm.sysErrMessage = "The Event has Ended.";
              }
              vm.isShowSysErrPopup = true;
            }
          });
        },
        checkLogin: function() {
          var vm=this;
        },
        clickWheelButton: function() {
          var vm=this;

          if(isLogin === 0 || isLogin === '0') {
            window.location = vm.loginUrl;
            return;
          }

          if(vm.isSpinning) {
            return;
          }

          if( vm.cntSpinLimit !== 0 ) {
            if( vm.cntSpinCurr >= vm.cntSpinLimit ) {
              vm.cntSpinDisplay = true;
              vm.btnSpin = vm.btnSpinList.btnEnd;
              vm.resultMsg = '';
              vm.textSign = vm.textSignList.signLimit.text;
              vm.textClass = vm.textSignList.signLimit.class;
              return;
            }
          }

          // ===== ===== ===== ===== ===== ===== ===== ===== 
          //      UWO has no Free-Spin
          // ===== ===== ===== ===== ===== ===== ===== ===== 
          // if(vm.getAttendance.FreeParticipation === 1)
          // {
            if(vm.userBalanceNum >= 45) {
              vm.beforeSpinPopup = 0;
            } else {
              vm.beforeSpinPopup = 1;
            }
            vm.isInfoPopup = true;
          // }
          // else
          // {  // free spin
          //   vm.startSpin();
          // }
        },
        startSpin: function() {
          var vm=this;
          var _deg = 0;
          var isGetItem = false;
          var startButton = document.querySelector(".wheel-button-wrapper");

          vm.isSpinning = true;
          vm.resultMsg = '';
          vm.textSign = vm.textSignList.signLoading.text;
          vm.textClass = vm.textSignList.signLoading.class;

          $.ajax({
            url: ioRootPath + "/secured/json.do?callback=?",
            type: 'POST',
            crossDomain: true,
            data: { cm: "Service.Event.ext_SetRandomEventUser", userip: userIP, eventid: 3 },  //unid: unid, UserID: userid, eventid: 3(UWO)
            dataType: 'jsonp'
          })
          .done(function(data) {
            var code = data.ResultCode[0].Code;
            console.log("click spin button : ", code, data);
            if(code == "10000") {
              vm.getSpinInfo = data.PurchaseItemInformation[0];
              // User Balance update
              vm.userBalanceNum = vm.getSpinInfo.Balance;
              // vm.userBalance = vm.getSpinInfo.Balance.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
              vm.userBalance = vm.insertCommas(vm.getSpinInfo.Balance);

              // participated spin count
              vm.cntSpinCurr = vm.getSpinInfo.ParticipationCount;

              for(var j=0; j<vm.itemZones.length; j++) {
                if( (vm.itemZones[j].code === vm.getSpinInfo.ItemCode) && (vm.itemZones[j].count == vm.getSpinInfo.ItemCount) ) {
                  _deg = vm.itemZones[j].degVal;
                  isGetItem = true;
                  console.log("get item result : ", _deg, vm.itemZones[j].code, vm.itemZones[j].name, vm.itemZones[j].count, vm.userBalance+"UWC");
                }
              }
              if( isGetItem === false ) {
                console.log("Can not Find Item", vm.getSpinInfo.ItemCode);
                vm.sysErrMessage = "Unknown Error!"
                vm.isShowSysErrPopup = true;
              }
              vm.btnSpin = vm.btnSpinList.btnSpinning;
              vm.textSign = vm.textSignList.signSpinngin.text;
              vm.textClass = vm.textSignList.signSpinngin.class;
              vm.cntSpinDisplay = true;
              vm.resultMsg = '';
              vm.wheelDeg = 3600 + _deg;

              startButton.style.pointerEvents = 'none';
              //vm.effectBgClass = '';
              vm.domWheelBoard.style.transition = 'all 3s ease-out';
              vm.domWheelBoard.style.transform = 'rotate(' + vm.wheelDeg + 'deg)';
              vm.domWheelBoard.classList.add('blur');
              document.querySelector(".shine-bg").classList.add("effect-shine-animate");

              //console.log("spin value : ", vm.wheelDeg, Math.floor(vm.wheelDeg/360));
              vm.domWheelBoard.addEventListener("transitionend", vm.endSpin);
            } else {
              console.log("Error", code, data.ResultCode[0].Description);
              vm.sysErrMessage = code + ' : ' + data.ResultCode[0].Description;
              vm.isShowSysErrPopup = true;
            }
          });
        },
        endSpin: function() {
          //console.log("called end spin");
          var vm=this;
          var startButton = document.querySelector(".wheel-button-wrapper");

          //vm.effectBgClass = 'effect-end-spin';
          vm.domWheelBoard.removeEventListener("transitionend", vm.endSpin);
          vm.domWheelBoard.classList.remove('blur');
          document.querySelector(".shine-bg").classList.remove("effect-shine-animate");
          startButton.style.pointerEvents = 'auto';
          vm.isSpinning = false;

          vm.actualDeg = vm.wheelDeg % 360;
          vm.wheelDeg = vm.actualDeg;
          vm.domWheelBoard.style.transition = 'none';
          vm.domWheelBoard.style.transform = 'rotate(' + vm.actualDeg + 'deg)';

          vm.resultItem();

          if( vm.freeSpin ) {
            vm.getAttendance.FreeParticipation = 1;
            vm.freeSpin = false;
            vm.cntSpinDisplay = true;
            vm.btnSpin = vm.btnSpinList.btnCash;
            // vm.textSign = vm.textSignList.signTry.text;
          } else {
            vm.cntSpinDisplay = true;
            // ===== ===== ===== ===== ===== ===== ===== ===== 
            //      UWO has no Free-Spin
            // ===== ===== ===== ===== ===== ===== ===== ===== 
            // if( vm.cntSpinCurr < vm.cntSpinLimit ) {
              vm.btnSpin = vm.btnSpinList.btnCash;
              // vm.textSign = vm.textSignList.signTry.text;
            // } else {
            //   vm.btnSpin = vm.btnSpinList.btnEnd;
            //   setTimeout(function() {
            //     vm.textSign = vm.textSignList.signLimit.text;
            //     vm.textClass = vm.textSignList.signLimit.class;
            //   }, 4000);
            // }
          }
        },
        resultItem: function() {
          var vm=this;

          // degree adjustment
          var adjustmentDeg = 360 / vm.itemZones.length / 2;
          var getResultID = Math.ceil((vm.actualDeg + adjustmentDeg) / (360 / vm.itemZones.length));

          for( var i=0; i<vm.itemZones.length; i++) {
            if(vm.itemZones[i].id === getResultID) {
              vm.resultMsg = vm.itemZones[i].name;
              vm.textSign = vm.textSignList.signItem.text + vm.resultMsg;
              vm.textClass = vm.textSignList.signItem.class;

              setTimeout(function() {
                vm.isResultPopup = true;
              }, 900);
            }
          }
          //console.log("actual degree : ", vm.wheelDeg, vm.actualDeg, getResultID);
        },
        acceptInfoPopup: function() {
          var vm=this;

          vm.isInfoPopup = false;

          if(vm.beforeSpinPopup === 0) {  // enough UWC
            vm.startSpin();
          } else if(vm.beforeSpinPopup === 1) {   // Not enough UWC
            window.open(vm.shopUrl);
          }
        },
        closeSysErrPopup: function() {
          var vm=this;
          vm.isShowSysErrPopup = !vm.isShowSysErrPopup;
          window.location.reload();
        },
        acceptResultPopup: function() {
          var vm=this;

          vm.isResultPopup = false;
        },
        gotoEventDetail: function() {
          var vm=this;
          window.open(vm.linkItemDetail);
        },
        handleResize: function() {
          var vm=this;
          var _height = window.innerHeight;
          var _width = window.innerWidth;
          // console.log("handle-resize : ", window.innerWidth, window.innerHeight);
          if( _height < 920 || _width < 750 ) {
            $('.left-character-image').hide();
            $('.right-character-image').hide();
          } else {
            $('.left-character-image').show();
            $('.right-character-image').show();
          }
        },
        getServerTime: function () {
          var vm = this;
          var fromServerTime = '';
          var strServerTime = '';
          $.ajax({
            url: ioRootPath + "/json.do?callback=?",
            type: 'GET',
            data: { cm: "Service.Board.GetServerTime" },
            crossDomain: true,
            dataType: 'json',
          })
          .done(function (res) {
            var code = res.ResultCode[0].Code;
            if (code === '10000') {
              fromServerTime = res.ServerTime[0].ServerTime;
              strServerTime = fromServerTime.slice(0, 16);

              console.log("Time Now : ", strServerTime);

              if( strServerTime < '2022-10-06 03:00' ) {
                vm.ipFilterQA();
              }
            }
          })
          .fail(function () {
            console.log("get server time error");
          });
        },
        insertCommas: function(n) {
          // get stuff before the dot
          let s1 = n.toString();
          var d = s1.indexOf('.');
          var s2 = d === -1 ? s1 : s1.slice(0, d);

          // insert commas every 3 digits from the right
          for (var i = s2.length - 3; i > 0; i -= 3)
            s2 = s2.slice(0, i) + ',' + s2.slice(i);

          // append fractional part
          if (d !== -1)
            s2 += s1.slice(d);

          return s2;
        },
        ipFilterQA: function() {
          var vm=this;
          
          // ========== ========== Filter for QA ========== ===========
          var accessIP = '';
          $.getJSON("https://api.ipify.org?format=jsonp&callback=?", function(json) {
              accessIP = json.ip;

              console.log("your ip is : ", accessIP);
              if( accessIP === '61.82.98.210' || accessIP === '69.196.89.106' || accessIP === '174.6.70.72' || accessIP === '106.185.145.171') {
                console.log("Hello VG QA");
              } else {
                console.log("It has not been opened yet.");
                window.location.href = 'https://www.papayaplay.com/portal.do';
                return;
              }
            }
          );
          // ========== ========== Filter for QA ========== ===========
        
        }
      },
      mounted: function() {
        var vm=this;
        vm.getServerTime();
        vm.initFuntion();
        // ===============================================================
        // isLogin = 1;
        // vm.freeSpin = false;
        // vm.cntSpinDisplay = true;
        // vm.btnSpin = vm.btnSpinList.btnCash;
        // ===============================================================

        vm.intvWhellBoard = setInterval(function() {
          vm.domWheelBoard = document.querySelector(".wheel-board");
          if( vm.domWheelBoard !== null ) {
            vm.domWheelBoard.addEventListener("transitionend", vm.endSpin);
            console.log("wheel board enable : ", vm.domWheelBoard);
            clearInterval(vm.intvWhellBoard);
          }
        }, 200);

        vm.handleResize();
        window.addEventListener('resize', vm.handleResize);
      },
      created:function () {
        var vm=this;
        this.fetchJson(lang);
      },
      beforeDestroy: function() {
        var vm=this;
        if(vm.intvSetServerTime !== null) {
          clearInterval(vm.intvSetServerTime);
        }

        window.removeEventListener('resize', vm.handleResize);
      },
    });
    $(document).ready(function () {
      //var controller = new ScrollMagic.Controller();

      // Charecter Animation (scrollmagic)
      var tl = new TimelineMax();
      var title = TweenMax.fromTo(
        ".title-wrapper",
        2,
        { marginTop: "-210px", marginBottom: "210px", ease: Circ.easeOut },
        { marginTop: "0px", marginBottom: "0px", opacity: 1, ease: Elastic.easeOut.config(1, 0.3) }
      )
      var leftChar = TweenMax.fromTo(
        ".left-character-image",
        0.4,
        { left: "100%", opacity: 0, ease: Circ.easeOut },
        { left: "50%", opacity: 1, ease: Circ.easeIn, delay: 0.1 }
      );
      var rightChar = TweenMax.fromTo(
        ".right-character-image",
        0.4,
        { left: "0%", opacity: 0, ease: Circ.easeOut },
        { left: "50%", opacity: 1, ease: Circ.easeIn, delay: 0.1 }
      );
      tl.add([title, leftChar, rightChar]);
      var cmScene = new ScrollMagic.Scene({
        triggerElement: ".vt_section-1",
      })
      //.setTween(tl)
      //.addTo(controller);
    });
  </script>
  
  <!-- <script type="text/javascript" src="https://www.bugherd.com/sidebarv2.js?apikey=tv5sxkacy9drzm2gxuv7xa" async="true"></script> -->

  <!--  LaTale Content: End -->


</body>
</html>